.container {
 
 
  
  text-align: center;
  padding: 50px;
  background-color: rgb(63, 165, 199);
  min-height: 100vh;
}
.container.dark{
  background-color: blueviolet;
  color: aliceblue;
}
.btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(91, 41, 172);
  color: rgb(231, 223, 223);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reset {
   margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(45, 42, 80);
  color: rgb(231, 223, 223);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
